		.quiz {
			text-align: center;
			font-family: Arial, sans-serif;
			background-color: rgb(241, 248, 219);
		}

		.welcome {
			font-size: 24px;
			margin-bottom: 20px;
		}

		.question {
			font-size: 18px;
			margin-bottom: 20px;
		}

		.answer {
			font-size: 18px;
			margin-bottom: 20px;
			color: green;
		}

		.micro-phone{
			height: 20px;
			width: 20px;
		padding-left: 750px;
			
		}

		.check {
			font-size: 16px;
			padding: 10px 20px;
			background-color: rgb(180, 176, 175);
			color: white;
			border: none;
			cursor: pointer;
			border-radius: 20%;
			margin-top: 20%;
		}

		.check:hover {
			background-color: darkblue;
		}

		.next {
			font-size: 16px;
			padding: 10px 20px;
			background-color: rgb(178, 178, 188);
			color: white;
			border: none;
			cursor: pointer;
			border-radius: 20%;
		}

		.next:hover {
			background-color: darkblue;
		}
